body {
  font-family: Arial, sans-serif;
  background: linear-gradient(135deg, #e0e0e0, #f5f5f5);
  display: flex;
  justify-content: center;
  padding-top: 50px;
  transition: 0.3s;
}

.app {
  background: white;
  padding: 25px;
  width: 340px;
  border-radius: 16px;
}
 

.app {
    box-shadow: 0 8px 20px rgba(0,0,0,0.1);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h1 {
  font-size: 22px;
}

#progress {
  font-size: 14px;
  color: #666;
  margin-bottom: 10px;
}

.input-box {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
}

input {
  flex: 1;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
}

button {
  padding: 10px;
  border: none;
  border-radius: 8px;
  background: #4CAF50;
  color: white;
  cursor: pointer;
  transition: 0.2s;
}

button:hover {
  opacity: 0.85;
}

li {
  margin-top: 10px;
  padding: 8px;
  background: #f9f9f9;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.done {
  text-decoration: line-through;
  color: gray;
}

/* Dark mode */
.dark {
  background: #1e1e1e;
  color: white;
}

.dark .app {
  background: #2c2c2c;
}

.dark li {
  background: #3a3a3a;
}
